<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065126608871-cen5nduu3jsbn5lua2jm5etki3i013es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065126608871-cen5nduu3jsbn5lua2jm5etki3i013es</string>
	<key>API_KEY</key>
	<string>AIzaSyDdox81i6upBbuoAHYOJ4J_ZwM6npMiJ6A</string>
	<key>GCM_SENDER_ID</key>
	<string>1065126608871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gustavsoderberg.MovieMates</string>
	<key>PROJECT_ID</key>
	<string>moviemates-ba21f</string>
	<key>STORAGE_BUCKET</key>
	<string>moviemates-ba21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065126608871:ios:82b9f573046747fda7c742</string>
</dict>
</plist>